* {
    font-family: Verdana;
    font-size: 12px;
}

[v-cloak] {
    display: none;
}

body {
    margin: 0px;
    padding: 0px;
}

button {
    padding: 5px 10px 5px 10px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}

strong {
    color: #666666;
}

#mainmenu {
    background-color: #dddddd;
    margin-bottom: 20px;
    padding-left: 10px;
}

#mainmenu a {
    color: #333333;
    padding: 20px;
    display: inline-block;
    background-color: #d3d3d3;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}

#mainmenu a:hover {
    background-color: #eeeeee;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #bbbbbb;
    padding: 10px;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

input {
    
}
